<!DOCTYPE html>
{% load bootstrap4 %}
{% load meus_filtros %}
{% load humanize %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de clientes</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>

<body>
    <h1>Listagem de clientes</h1>
    {# Esse bloco percorre a lista de clientes e imprime seus dados #}
    {% for cliente in object_list %}
        {% with " Programador Engenheiro Nutricionista " as list %}
            {% if cliente.profissao in list %}
                
                <li>{{ cliente.nome|capfirst}}</li>
                <li>{{ cliente.email }}</li>
                <li>{{ cliente.data_nascimento|date:"D d M Y" }}</li>
                <h3><li>{{ cliente.profissao }}</li></h3>
                <li><a href={% url "lista_cliente" pk=cliente.id %}>Exibir</a></li>
                <li><a href={% url "editar_cliente" pk=cliente.id %}>Editar</a></li>
                <li><a href={% url "remover_cliente" pk=cliente.id %}>Remover</a></li>
                <hr>
                {% else %}
                <li>{{ cliente.nome|capfirst }}</li>
                <li>{{ cliente.email }}</li>
                <li>{{ cliente.data_nascimento |date:"D d M Y"}}</li>
                <li>{{ cliente.profissao }}</li>
                <li><a href={% url "lista_cliente" pk=cliente.id %}>Exibir</a></li>
                <li><a href={% url "editar_cliente" pk=cliente.id %}>Editar</a></li>
                <li><a href={% url "remover_cliente" pk=cliente.id %}>Remover</a></li>
                <hr>
                

            {% endif %}
        {% endwith %}

    {% empty %}
    <h3> Não há clientes cadastrados</h3>
    {% endfor %}
    <li>{{3|add:"2"}}</li>
    <a href="{% url "cadastrar_cliente" %}">cadastrar</a>

</body>

</html>